/* ABOUT SECTION */
.about-section {
  display: grid;
  grid-template-columns: 45fr 55fr;
  column-gap: 2rem;
  border-bottom: var(--border-bottom);
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4rem;
}

.about-description {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

/* 840px */
@media only screen and (max-width: 52.5em) {
  .about-section {
    display: flex;
    flex-direction: column;
  }

  .about-description {
    gap: 0.8rem;
  }
}
