/* SKILLS SECTION */
.skills-section {
  border-bottom: var(--border-bottom);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem;
}

.skills-content {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.skills-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.4rem;
}

.skills-heading {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.skills-description {
  color: var(--color-grey);
}

/* 980px */
@media only screen and (max-width: 61.25em) {
  .skills-list {
    gap: 1rem;
  }
}

/* 840px */
@media only screen and (max-width: 52.5em) {
  .skills-section {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .skills-content {
    gap: 2.4rem;
  }

  .skill-item {
    height: 4rem;
  }
}
