/* SKILLS SECTION */
.skills-section {
  border-bottom: var(--border-bottom);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem;
}

.skills-content {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.skills-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1.4rem;
}

.skill-item {
  font-size: 1.6rem;
  text-transform: uppercase;
  height: 4.6rem;
  padding: 0 1.6rem;
  border: 1px solid var(--color-primary);
  border-radius: 100px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.skill-icon {
  width: 1.6rem;
  height: 1.6rem;
}

/* 980px */
@media only screen and (max-width: 61.25em) {
  .skills-list {
    gap: 1rem;
  }
}

/* 840px */
@media only screen and (max-width: 52.5em) {
  .skills-section {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .skills-content {
    gap: 2.4rem;
  }

  .skill-item {
    height: 4rem;
  }
}
