:root {
  --color-primary: #00b9e8;
  --color-blue-light: #89cff0;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark: rgb(33, 36, 61);
  --color-grey: #495057;

  --border-bottom: 1px solid #e5e4e2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.8rem;
  line-height: 1.6;
  color: var(--color-dark);
  background-color: var(--color-white);
}

/* UTILITIES */
.container {
  width: 125rem;
  max-width: 90%;

  margin: 0 auto;
}

.section-container {
  padding: 8rem 0;
}

.heading-primary {
  font-family: "Bebas Neue", sans-serif;
  font-size: 9.2rem;
  font-weight: 500;
  line-height: 0.9;
  text-transform: uppercase;
}

.heading-secondary {
  font-family: "Bebas Neue", sans-serif;
  font-size: 7.6rem;
  font-weight: 500;
  line-height: 0.9;
  text-transform: uppercase;
}

.heading-tertiary {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2;
}

.descriptive-text {
  color: var(--color-grey);
}

.btn-primary {
  height: 5.4rem;
  cursor: pointer;
  background: var(--color-primary);
  color: var(--color-white);
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  border-radius: 100px;
  padding: 0 2rem;

  display: flex;
  align-items: center;

  transition: all 0.2s ease;
}

.focus-style:focus-visible {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}

.btn-icon {
  margin-left: 1rem;
  fill: currentColor;
}

.mb-12 {
  margin-bottom: 1.2rem;
}

.mb-16 {
  margin-bottom: 1.6rem;
}

.mb-32 {
  margin-bottom: 3.2rem;
}

/* 1100px */
@media only screen and (max-width: 68.75em) {
  .heading-primary {
    font-size: 8.8rem;
  }

  .heading-secondary {
    font-size: 6.8rem;
  }
}

/* 980px */
@media only screen and (max-width: 61.25em) {
  .heading-primary {
    font-size: 7rem;
  }
}

/* 768px */
@media only screen and (max-width: 48em) {
  .heading-tertiary {
    font-size: 2.8rem;
  }
}

/* 640px */
@media only screen and (max-width: 40em) {
  .container {
    max-width: 91.5%;
  }

  .section-container {
    padding: 6.4rem 0;
  }

  .heading-primary {
    font-size: 5.6rem;
  }

  .heading-secondary {
    font-size: 4.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .btn-primary {
    height: 4.8rem;
    font-size: 1.4rem;
  }

  .btn-flex {
    padding-right: 5.5rem;
  }

  .btn-icon-wrapper {
    top: 0.4rem;
    right: 0.4rem;
  }

  .description-text {
    font-size: 1.6rem;
  }
}
